{% extends 'base.html.twig' %}

{% block title %}{% trans with { '%subject%': subject.name, '%task_type%': task_type.name } from 'app' %}Subject: %subject% | %task_type%{% endtrans %}{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="breadcrumb2" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('subject', { 'id': subject.id }) }}">{{ subject.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ task_type.name }}</li>
                        </ol>
                    </nav>
                    <h3>
                        {{ subject.name }}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="subtitle">
                        {{ task_type.name }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        {% if subject.modules|length %}
            {% for module in subject.modules %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>
                                {{ module.name }}
                            </h6>
                        </div>
                    </div>
                    {% if module.description %}
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    {{ module.description }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if module.tasks|length %}
                        <div class="row">
                            {% for l in module.tasks %}
                                {% if l.taskType.id == task_type.id %}
                                    <div class="col-md-4">
                                        <div class="card mb-4 box-shadow">
                                            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                            <div class="card-body">
                                                <p class="card-text"><a href="{{ path('single_task', { 'id': l.id, 'subjectId': subject.id }) }}">{{ l.name }}</a></p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href="{{ path('single_task', { 'id': l.id, 'subjectId': subject.id }) }}" class="btn btn-sm btn-outline-secondary">
                                                            {% trans %}View{% endtrans %}
                                                        </a>
                                                    </div>
                                                    {% if l.creator %}
                                                        <small class="text-muted">
                                                            {% trans with { '%author_firstname%': l.creator.firstname, '%author_lastname%': l.creator.lastname } from 'app' %}Author: %author_firstname% %author_lastname%{% endtrans %}
                                                        </small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
