{% extends 'base.html.twig' %}

{% block title %}{% trans with { '%name%': task.name, '%task_type%': task.taskType.name } from 'app' %}%task_type% | %name%{% endtrans %}{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="breadcrumb2" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('subject', { 'id': subject.id }) }}">{{ subject.name }}</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('task_type', { 'id': task.taskType.id, 'subjectId': subject.id }) }}">{{ task.taskType.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ task.name }}</li>
                        </ol>
                    </nav>
                    <h3>
                        {{ task.name }}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="subtitle">
                        {% trans with { '%subject%': subject.name } from 'app' %}<span>Subject:</span> %subject%{% endtrans %}
                    </p>
                    <p class="subtitle">
                        {% trans with { '%task_type%': task.taskType.name } from 'app' %}<span>Type:</span> %task_type%{% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="album single-task py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 single-task-content">
                    {{ task.content|raw }}
                </div>
                <div class="col-md-4 single-task-execution">
                    {% if app.user == null %}
                        <p>{% trans %}You have not signed in, yet. Please, log in to make a solution for a task.{% endtrans %}</p>
                    {% else %}
                        {% if solution == null %}
                            <h5>{% trans %}Execution:{% endtrans %}</h5>
                            <div class="solution-uploadder">
                                {{ form(form) }}
                            </div>
                        {% else %}
                            <h5>{% trans %}Task is solved!{% endtrans %}</h5>
                            {% if solution.grade != null %}
                                <h6>{% trans %}Your grade:&nbsp;{% endtrans %}{{ solution.grade }}</h6>
                                <p>{% trans %}Date of verification:&nbsp;{% endtrans %}{{ solution.checkedAt|date("d.m.Y h:i") }}</p>
                            {% else %}
                                <p>{% trans %}You have not grade yet.{% endtrans %}</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
