{% extends "@!SonataAdmin/standard_layout.html.twig" %}

{% block meta_tags %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <style>
        table tr td.sonata-ba-list-field:nth-child(2) a {
            font-weight: bold !important;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}

{% block javascripts %}
    {% block sonata_javascript_config %}
    {% endblock %}

    {% block sonata_javascript_pool %}
        {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
            <script src="{{ asset(javascript) }}"></script>
        {% endfor %}
    {% endblock %}

    {# localize moment #}
    {% set localeForMoment = canonicalize_locale_for_moment() %}
    {% if localeForMoment %}
        <script src="{{ asset(
            'bundles/sonatacore/vendor/moment/locale/' ~
            localeForMoment ~
            '.js'
        ) }}"></script>
    {% endif %}

    {# localize select2 #}
    {% if sonata_admin.adminPool.getOption('use_select2') %}
        {% set localeForSelect2 = canonicalize_locale_for_select2() %}
        {% if localeForSelect2 %}
            <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ localeForSelect2 ~ '.js') }}"></script>
        {% endif %}
    {% endif %}

    {# !!! ADDED TYNY-MCE WYSIWYG editor !!! #}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector:'textarea.tiny-mce-editor',
            plugins : 'advlist autolink link image lists charmap print preview',
            height: 500,
            automatic_uploads: true,
            images_upload_url: '/postAcceptor.php',
            images_reuse_filename: true,
            images_upload_base_path: '/images/',
        });
    </script>
{% endblock %}
