{% extends 'base.html.twig' %}

{% block title %}{% trans with { '%name%': lecture.name } from 'app' %}Lecture: %name%{% endtrans %}{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="breadcrumb2" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('subject', { 'id': subject.id }) }}">{{ subject.name }}</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('lecture', { 'subjectId': subject.id }) }}">{% trans %}Lectures{% endtrans %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ lecture.name }}</li>
                        </ol>
                    </nav>
                    <h3>
                        {{ lecture.name }}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="subtitle">
                        {% trans with { '%topic%': lecture.topic } from 'app' %}<span>Topic:</span> %topic%{% endtrans %}
                    </p>
                    <p class="subtitle">
                        {% trans with { '%goal%': lecture.goal } from 'app' %}<span>Goal:</span> %goal%{% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ lecture.content|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
