{% extends 'base.html.twig' %}

{% block title %}{% trans %}Welcome to Learning System!{% endtrans %}{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{% trans %}A smart system designed for online learning{% endtrans %}</h1>
            <p class="lead text-muted">{% trans %}Learn everything, learn everywhere, always learn!{% endtrans %}</p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if app.user.lastname or app.user.firstname %}
                    <p>{% trans with {'%firstname%': app.user.firstname, '%lastname%': app.user.lastname} from 'app' %}Hello, %firstname% %lastname%! Glad to see you again!{% endtrans %}</p>
                {% else %}
                    <p>{% trans with {'%username%': app.user.username} from 'app' %}Hello, %username%! Glad to see you again!{% endtrans %}</p>
                {% endif %}
            {% else %}
                <p>
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-success my-2">{% trans %}Sign in{% endtrans %}</a>
                </p>
            {% endif %}
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% if subjects|length %}
                    {% for subject in subjects %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><a href="{{ path('subject', { 'id': subject.id }) }}">{{ subject.name }}</a></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('subject', { 'id': subject.id }) }}" class="btn btn-sm btn-outline-secondary">
                                                {% trans %}Details{% endtrans %}
                                            </a>
                                        </div>
                                        <small class="text-muted">
                                            {% trans with { '%mod_count%': subject.modules|length } from 'app' %}%mod_count% modules{% endtrans %}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
