:root {
  --jumbotron-padding-y: 2.5rem;
}

.jumbotron {
  padding-top: calc(var(--jumbotron-padding-y) * 2);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

a.login {
    text-transform: uppercase;
    margin-left: 10px;
    font-style: normal;
}

.header-user-panel {
    color: #fff;
    font-size: 12px;
    font-style: italic;
}

.jumbotron {
    padding-bottom: 20px;
}

.jumbotron .container {
    max-width: 960px;
}

.album a {
    color: #212529;
}

.subtitle {
    font-style: italic;
    color: #212529;
}

.subtitle span {
    font-weight: bold;
}

.album.single-task {
    padding: 0!important;
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #212529;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #212529;
}

.single-task-content {
    padding: 3rem 0;
}

.single-task-execution {
    border-left-style: dashed;
    border-left-width: 1px;
    border-left-color: #212529;
    padding: 3rem 0;
    padding-left: 2;
    padding-left: 30px;
}

.solution-uploadder {
    margin-top: 25px;
}

.solution-uploadder button {
    font-size: 16px;
    margin-top: 15px;
    width: 100%;
}

#solution > div {
    margin-bottom: 15px;
}

.breadcrumb {
    margin-top: -10px;
}

.solution-uploadder label {
    display: block;
}

.solution-uploadder textarea {
    width: 100%;
    height: 75px;
}
