<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/signin.css" rel="stylesheet">
        <title>Вход в систему</title>
    </head>
    <body class="text-center">
        <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  {% if app.request.hasPreviousSession %}
                      {% for type, messages in app.session.flashbag.all() %}
                          {% for message in messages %}
                              <div class="flash-{{ type }}">
                                  {{ message }}
                              </div>
                          {% endfor %}
                      {% endfor %}
                  {% endif %}
              </div>
            <div class="col-sm-12">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            </div>
            <div class="col-sm-12">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
    </body>
</html>
