{% extends 'base.html.twig' %}

{% block title %}{% trans %}Journal{% endtrans %}{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="breadcrumb2" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans %}Journal{% endtrans %}</li>
                        </ol>
                    </nav>
                    <h3>
                        {% trans %}Journal{% endtrans %}
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <div class="album single-task py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">User/Task Id</th>
                            {% for t in tasks %}
                                <th scope="col">
                                    <a target="_blank" href="{{ path('single_task', { 'id': t.id, 'subjectId': t.module.subject.id }) }}" class="btn btn-sm btn-outline-secondary">
                                        {{ t.id }}
                                    </a>
                                </th>
                            {% endfor %}
                            <th scope="col">Average</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in users %}
                            <tr>
                                <th scope="row">{{ u.firstname }}&nbsp;{{ u.lastname }}</th>
                                {% for t in tasks %}
                                    <td>
                                        {% for s in u.solutions %}
                                            {% if s.task.id == t.id %}
                                                {{ s.grade }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                                <td>{{ average[loop.index0] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
