{% extends 'base.html.twig' %}

{% block title %}{% trans %}Blog{% endtrans %}{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        {% trans %}Blog{% endtrans %}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="subtitle">
                        {% trans %}There is no blog right now.{% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
