<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{% block title %}{% trans %}Welcome!{% endtrans %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{ path('index') }}">{% trans %}Learning System{% endtrans %}</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index') }}">{% trans %}Home {% endtrans %}<span class="sr-only">{% trans %}(current){% endtrans %}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog') }}">{% trans %}Blog{% endtrans %}</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0 header-user-panel">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}&nbsp;&nbsp;
                        {% if is_granted("ROLE_ADMIN") %}
                            <a style="text-transform: uppercase;" target="_blank" class="btn btn-primary" href="/admin">
                                {% trans %}Admin panel{% endtrans %}
                            </a>
                            <a style="text-transform: uppercase;margin-left: 12px;" class="btn btn-primary" href="{{ path('journal') }}">
                                {% trans %}Journal{% endtrans %}
                            </a>
                        {% endif %}
                        <a class="btn btn-success my-2 my-sm-0 login" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a class="btn btn-success my-2 my-sm-0 login" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </form>
            </div>
        </nav>
    </header>

    <main role="main">
        {% block body %}{% endblock %}
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">{% trans %}Back to top{% endtrans %}</a>
            </p>
            <p>{% trans %}&copy; "Learning System"{% endtrans %}</p>
            <p>{% trans %}All rights reserved.{% endtrans %}</p>
            <p>2019</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>
