{% extends 'base.html.twig' %}

{% block title %}{% trans with { '%name%': subject.name } from 'app' %}Subject: %name%{% endtrans %}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ subject.name }}</li>
        </ol>
    </nav>

    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="breadcrumb2" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ subject.name }}</li>
                        </ol>
                    </nav>
                    <h3>
                        {% trans with { '%name%': subject.name } from 'app' %}%name%{% endtrans %}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="subtitle">
                        <span>{% trans %}Subject{% endtrans %}</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        {{ subject.description }}
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                <a href="{{ path('lecture', { 'subjectId': subject.id }) }}">
                                    {% trans %}Lectures{% endtrans %}
                                </a>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('lecture', { 'subjectId': subject.id }) }}" class="btn btn-sm btn-outline-secondary">
                                        {% trans %}View{% endtrans %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if task_types|length %}
                    {% for t in task_types %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">
                                        <a href="{{ path('task_type', { 'id': t.id, 'subjectId': subject.id }) }}">
                                            {{ t.name }}
                                        </a>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('task_type', { 'id': t.id, 'subjectId': subject.id }) }}" class="btn btn-sm btn-outline-secondary">
                                                {% trans %}View{% endtrans %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
